body {
    font-family: 'Andika', sans-serif;
    font-family: 'Merriweather', serif;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

/* header section style */
.container {
    background-image: url('../image/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;

}

.happy {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 100px auto 3px;
}

.title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    width: 632px;
    font-weight: 900;
    line-height: 95px;
    margin: 250px ;
}

.off h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.off p {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.off h3 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.off img {
    width: 802.9px;
    height: 500px;
    padding: 2px auto;
}

.man {
    display: flex;
    background-image: url('../image/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.man .text h2 {
    color: #FFF;
    width: 642px;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.man .text p {
    Copy color: rgba(255, 255, 255, 0.80);
    width: 697px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.img .pic {
    width: 141.641px;
    height: 141.641px;
    padding: 0.008px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.last {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background-color: #ffe9e9;
}

.last .same {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.last span {
    color: #070211;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.last .btn {
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}

/* main section  start here */
/* .container-bonus {
    display: flex;
    width: px;
    background-color: white;
} */

.first h2 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.first h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.first p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}

.sera img {
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.finis h1 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.finis p {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.finis img {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}
/* coming soon style */
.baba{
    display: flex;
    background: #FFF;
}

/* holidays style */
.hello {
    background-image: url(../image/Rectangle\ 2.png);
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
}

.holiday h2 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.holiday h1 {
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.holiday span {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    width: 1068px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

/* fasion sectuin */
.fasion {
    width: 1600px;
    background: #FFF;
}

.fasion h2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.fasion h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.fasion p .lal {
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.kostu {
    margin: 0 140px;
}

.picture {
    display: block;
    margin: 0 140px;
}

.picture img {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    float: left;
    width: 33.33%;
    padding: 5px;
}

.picture img:hover {
    border: 2px solid green;
}

/* ham section */
.sub {
    background-color: #ffe9e9;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    margin: 0 140px;
    clear: both;
}

.sub img {
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 20px 550px;
}

.sub h1 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.sub p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    width: 896px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.sub input {
    width: 648px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.sub button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    clear: both;
}

.sub .oma {
    margin: 10px 200px;
}

/* footer section style */
.good {
    background-color: #070211;
    width: 100%;
    height: 450px;
}

.good .pothom {
    height: 165px;

}

.pothom .nana {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    width: 400px;
    float: left;
    margin: 30px 40px;
}

.pothom .nani p {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    float: right;
   margin: 20px 10px ;

}

.pothom .nani a{
    color: #FFF;
    float: right;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    margin: 20px 10px ;
}

.good .ancor {
    height: 120px;
    margin: 20px 300px;
}

.good .oh {
    height: 165px;
}
.oh p{
    color: #FFF;
font-size: 24px;
font-weight: 500;
}
.h .p1{
    float: left;
    margin: 20px 40px;
}
.oh .p2{
    float: right;
    margin: 20px 40px;
}